





.infotitle{
    font-family: Arial, Helvetica, sans-serif;
    font-size: 50px;
    display: flex;
    justify-content: center;
    padding-top: 200px;
}


.btn{
    height: 60px;
    width: 100px;
    border-radius: 30px;
    margin: 10px;
    background-color: #702B2B;
    color: white;
    border: none;
    font-weight: bold;
    cursor: pointer;
    transition: 0.5s;
    position: relative;
    left: -680px;
    bottom: 60px;
}
.btn:hover{
    transform: scale(1.05);
    transition: 0.5s;
}
.btn:active{
    transform: scale(1);
    transition: 0.5s;
}

 .btn:hover{
    background-color: #4B3D3D;
}


.infosectionTwo{
    height: auto;
    width: auto;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    padding: 100px;
}

.infoitems{
    height: 250px;
    width: 300px;
   
    transition: 0.5s;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    margin: 70px;

}
.infoitems:hover{
    transform: scale(1.05);
    transition: 0.5s;
    box-shadow: rgba(50, 50, 93, 0.25) 0px 30px 50px -12px, rgba(0, 0, 0, 0.3) 0px 18px 26px -18px;
    transition: 0.5s;
}
.infoitems:active{
    transform: scale(1);
    transition: 0.5s;
}
.infocards{
    margin-top: 100px;

}






.infoone{
    grid-area: one;
    
    


    border-radius: 30px;
    background: linear-gradient(145deg, #a3ddea, #d8edeb);
    box-shadow:  5px 5px 37px #bababa,
                 -5px -5px 37px #ffffff;
}
.infotwo{
    
    grid-area: two;
    


    border-radius: 30px;
    background: linear-gradient(145deg, lightskyblue, blue);
    box-shadow:  5px 5px 37px #bababa,
                 -5px -5px 37px #ffffff;
}
.infothree>img{
    filter: invert(1);
}



.infothree{
    
    grid-area: three;


    border-radius: 30px;
    background: linear-gradient(180deg, #54e88f, #42ce26);
    box-shadow:  5px 5px 37px #bababa,
                 -5px -5px 37px #ffffff;
}
.infothree>.littleCard{
    position: relative;
    top: -20px;
}


.infoitems p{
    transition: 0.5s;
    padding-left: 5px;
    padding-right: 5px;
}
.infoitems>p{
    font-family: 'Roboto',sans-serif;
    font-size: 14px;
    text-align: center;
    color: black;
    font-weight: bold;
}
.infoitems:hover>p{
    opacity: 1;
    transition: 0.5s;
    color: #702B2B;
}

.infoitems:hover{
    cursor: pointer;
}







/*

a{
    color: black;
    text-decoration: none;
    display: flex;
    flex-direction: column;
    align-items: center;
}
a:hover {
    color: #702B2B; /* Texte violet sur hover des liens */
  /*

*/

@media (max-width: 1000px) {
    .infocards{
        margin-top: 100px;
        display: grid;
        grid-template-columns: repeat(2, 1fr); 
        grid-template-rows: repeat(3, 300px);
        grid-template-areas: "one two"
                             "three four"
                             "five six";
        grid-gap: 100px;
    }
    h1{
        text-align: center;
    }
}


@media (max-width: 650px) {
    .infocards{
        margin-top: 100px;
        display: grid;
        grid-template-columns: repeat(1, 1fr); 
        grid-template-rows: repeat(6, 300px);
        grid-template-areas: "one" 
                            "two"
                             "three" 
                             "four"
                             "five" 
                             "six";
        grid-gap: 100px;
    }
    h1{
        text-align: center;
    }
}












.troispremieres{
display: flex;
justify-content: center;
}

.deuxdernieres{
display: flex;
justify-content: center;
}