
html, body {
    width: 100%;
    height: 100%;
    overflow-x: hidden; 
    background-color: #F2F2F2;
    color: #4B3D3D;
    font-family: 'Roboto',sans-serif;

}
p{
    width: 300px;
    font-weight: bold;
    font-family: ro;
    margin-top: -30px;
}




.title{
    font-family: Arial, Helvetica, sans-serif;
    font-size: 50px;
    display: flex;
    justify-content: center;
    padding-top: 20px;
}





.sectionTwo{
    height: 100%;
    width: auto;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    padding: 100px;
    background-color: #371F4B;  
}
.sectionTwo>h1{
    color: white;
}

.items{
    height: 300px;
    width: 350px;
   
    transition: 0.5s;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    margin: 70px;

}
.items:hover{
    transform: scale(1.05);
    transition: 0.5s;
    box-shadow: rgba(10, 30, 10, 0.75) 0px 30px 50px -12px, rgba(0, 0, 0, 0.3) 0px 18px 26px -18px;
    transition: 0.5s;
}
.items:active{
    transform: scale(1);
    transition: 0.5s;
}


/*

.prioritaire{
    display: flex;
    justify-content: center;
}
.secondaire{
    margin-top: 80px;
display: flex;
justify-content: center;
align-items: center;
}
*/


.m{
    background-color: #F2F2F2;
}
.mBlack{
    background-color: rgb(18, 16, 16);
}
.one{
    grid-area: one;
    
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;


    border-radius: 30px;
    background: linear-gradient(145deg, #d77b64, #EB5A35);
    box-shadow:  5px 5px 37px #814dab,
                 -5px -5px 37px #522476;
}
.two{
    height: 250px;
    width: 300px;
    grid-area: two;
    


    border-radius: 30px;
    background: linear-gradient(145deg, #d77b64, #EB5A35);
    box-shadow:  5px 5px 37px #371F4B,
                 -5px -5px 37px #371F4B;
}
.three>img{
    filter: invert(1);
}



.three{
    height: 250px;
    width: 300px;
    grid-area: three;


    border-radius: 30px;
    background: linear-gradient(180deg, #d77b64, #EB5A35);
    box-shadow:  5px 5px 37px #371F4B,
                 -5px -5px 37px #371F4B;
}
.three>.littleCard{
    position: relative;
    top: -20px;
}


.items p{
    transition: 0.5s;
    padding-left: 5px;
    padding-right: 5px;
}
.items>p{
    font-family: 'Roboto',sans-serif;
    font-size: 14px;
    text-align: center;
    color: black;
    font-weight: bold;
}
.items:hover>p{
    opacity: 1;
    transition: 0.5s;
    color: #702B2B;
}

.items:hover{
    cursor: pointer;
}

p,h2{
    font-family: 'Roboto',sans-serif;
    text-align: center;
    color: #371F4B;
}
.one>h2{
    color: white;
}
h1{
    font-size: 35px;
}

.rdv{
    color: #371F4B;
}
.infos, .contact{
    color: white;
}



.littleCard{
    width: 90%;
    height: 60%;
    position: relative;
    top: -30px;
    border-radius: 25px;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
}



.hidden{
    overflow: hidden;
}
a{
    color: black;
    text-decoration: none;
    display: flex;
    flex-direction: column;
    align-items: center;
}
a:hover {
    color: #702B2B; /* Texte violet sur hover des liens */
}

.imagesParagraphe{
    display: flex ;
    flex-direction: column;
    margin-bottom: 20px;
    
}
.imagesOnly{
    display: flex;
}
.pOnly{
    position: relative;
    left: 442px;
    width: 20px;
}
.pOnly>p{
    font-size: 20px;
    color: #371F4B;
}


.mct{
    width: 100%;
}

.foxyPara{
    grid-area:foxyPara;
    font-size: small;
    font-weight: bold;
    display: flex;
    justify-content: flex-end;
}

.loop{
    display: none;
}
.text{
    display: inline;
}

@media (max-width: 1000px) {
    .cards{
        margin-top: 100px;
        display: grid;
        grid-template-columns: repeat(2, 1fr); 
        grid-template-rows: repeat(3, 300px);
        grid-template-areas: "one two"
                             "three four"
                             "five six";
        grid-gap: 100px;
    }
    h1{
        text-align: center;
    }
}


@media (max-width: 650px) {
    .cards{
        margin-top: 100px;
        display: grid;
        grid-template-columns: repeat(1, 1fr); 
        grid-template-rows: repeat(6, 300px);
        grid-template-areas: "one" 
                            "two"
                             "three" 
                             "four"
                             "five" 
                             "six";
        grid-gap: 100px;
    }
    h1{
        text-align: center;
    }
}



@media (max-width: 250px) {
    .text{
        display: none;
    }
    .loop{
        display: inline;
        filter: invert(1);
    }
.searchBar>input{
    width: 75px;
}

}




.one{
    animation: showw 1.5s infinite;
}
@keyframes showw {
    0%{
        transform: scale(1);
    }
    50%{
        transform: scale(1.1);
    }
    100%{
        transform: scale(1);
    }
}
