#here {
    height: 100%;
    width: 100%; /* prend au moins la hauteur de l’écran */
    overflow: hidden;
    display: flex;
  }

.titleVideo{
    font-family: Arial, Helvetica, sans-serif;
    font-size: 50px;
    display: flex;
    justify-content: center;
    padding-top: 20px;
    flex-grow: 1;
}

.bouton{
    display: flex;
    justify-content: center;
}

.aaa{
    height: 100%;
    width: 1550px;
    display: flex;
    flex-direction: column;
}


.btn{
    height: 60px;
    width: 100px;
    border-radius: 20px;
    margin: 10px;
    background-color: #EB5A35;
    color: white;
    border: none;
    font-weight: bold;
    cursor: pointer;
    transition: 0.5s;
    display: flex;
    justify-content: center;
    align-items: center;
    border: solid 2px #371F4B;
}







  

.imagesParagrapheVideo{
    display: flex ;
    flex-direction: column;
    margin-bottom: 20px;
    
}
.imagesOnlyVideo{
    display: flex;
}
.pOnlyVideo{
    position: relative;
    left: 442px;
    width: 20px;
  
}
.pOnlyVideo>p{
    font-size: 20px;
    color: #371F4B;
}


@media (max-width: 980px) {
    .imagesOnlyVideo{
        display: flex;
        flex-direction: column;
    }
    .pOnlyVideo{
        position: relative;
        width: 20px;
        left: 30vw;
        bottom: 120px; /* décale vers la droite de 30% de la largeur de la fenêtre */
      
    }
    
}
@media (max-width : 850px) {

    iframe{
        width: 600px;
  height: 337.5px; /* ou arrondi à 338px */
  border: none;
    }
    
}

@media (max-width : 630px) {

    iframe{
        height: 300px;
        width: 400px;
    }
    
}


@media (max-width: 710px) {
    .imagesOnlyVideo{
        display: flex;
        flex-direction: column;
    }
    .pOnlyVideo{
        position: relative;
        width: 20px;
        left: -5vw;
        bottom: 120px; /* décale vers la droite de 30% de la largeur de la fenêtre */
      
    }
    
}

@media (max-width: 510px) {
    
    .pOnlyVideo{
        position: relative;
        width: 20px;
        left: -6.5vw;
        bottom: 120px; /* décale vers la droite de 30% de la largeur de la fenêtre */
      
    }
    
}


.sectionTwoVideo {
    width: 100vw;          /* Prend toute la largeur de l’écran */
    height: 100%;         /* Prend toute la hauteur de l’écran */
    display: flex;
    justify-content: center;
    align-items: center;
    background-color: #371F4B;
    padding: 0;
    margin: 0;
    overflow: hidden;
    position: relative;
  }
  
  .customVideo {
    width: 100%;
    height: 100%;
    object-fit: cover;    /* C’est ça qui enlève les bandes noires */
    border: none;
  }




  
   