.redCard{
width: 100%;
height: 200px;
background-color: #702B2B;
display: flex;
flex-direction: column;
align-items: center;
margin-top: 100px;
}
.redCard>h1, .redCard>a{
    color: white;
}
.redCard>h1{
    margin-top: 50px;
}
.redCard>a{
    margin-top: 50px;
    transition: 0.5s;
}
.redCard>a:hover{
    transform: scale(1.15);
    transition: 0.5s;
}
.redCard>a:active{
    transform: scale(1.1);
    transition: 0.5s;
}
#footer{
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
}
#footer>h1{
    margin-top: 50px;
}